<config>
	<launcher name="testnit"   ram_quota="768K" caps="50"/>
	<launcher name="scout"     ram_quota="41M"  caps="200"/>
	<launcher name="launchpad" ram_quota="6M"   caps="1000">
		<configfile name="launchpad.config" />
	</launcher>
	<launcher name="nitlog"    ram_quota="1M" caps="70"/>
	<launcher name="liquid_fb" ram_quota="7M" caps="70">
		<config resize_handle="on" />
	</launcher>
	<launcher name="nitpicker" ram_quota="1M" caps="70">
		<config>
			<domain name="" layer="3" conten="client" label="no" focus="click"/>
			<default-policy domain="" />
		</config>
	</launcher>
</config>
